
<%-include('../partials/head')-%>

    <%-include('../partials/navbar')-%>
<link rel="stylesheet" href="/css/detalle_libro.css">

<div class="container">
    <div class="product-image">
        <img src="/img/libroSelva.webp" id="imagen" alt="Pack Trilogía Caballo De Troya">
    </div>
    <div class="product-details" id="detalle_libro" data-id="<%= data.id %>">
        <h1 id="titulo"><%= data.titulo %></h1>
        <h5 id="autor">Autor: <%= data.autor %></h5>
        <h5 id="idioma">Idioma: <%= data.idioma %></h5>
        <p id="precio" class="price" data-valor="<%= data.precio %>">$<%= data.precio_formateado %></p>
        <div class="quantity">
            <button onclick="decrement()">-</button>
            <input type="number" id="quantity" value="1" min="1">
            <button onclick="increment()">+</button>
        </div>
        <button onclick="agregarAlCarrito()">Agregar al carrito</button>
        <div class="description">
            <p>Libros nuevos y completos. Los primeros tres tomos de la saga "Caballo De Troya" de JJ Benítez. Oferta.
                Llegan gratis hoy a tu domicilio o donde indiques.</p>
        </div>
    </div>
</div>


